.example-container {
  display: flex;
  flex-wrap: wrap;
  /*justify-content: space-around;*/
}

.add-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed #ccc;
  margin: 40px;
  padding: 40px;
  font-size: 60px;
  color: #ccc;
  line-height: 0.5;
}

.box {
  position: relative;
}

.box:hover .remove-box {
  display: block;
}

.remove-box {
  display: none;
  position: absolute;
  z-index: 1;

  cursor: pointer;
  width: 20px;
  height: 20px;
  right: 20px;
  top: 20px;
}
.remove-box:hover {
  transform: scale(1.1);
}
